<div class="container">
  <h2> <%= @listing.title %> </h2>
    <% if @listing.photo.attached? %>
      <div class="card">
          <%= cl_image_tag @listing.photo.key, crop: :fill, class: 'card-img-top', style: 'object-fit: cover; height: 400px;' %>
          <h2 class="card-pricing">Rental price per day: $<%=@listing.price %></h2>
      </div>
       <% else %>
          <div class="card">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <h4 class="card-pricing">Rental price per day: $<%= @listing.price %></h4>
          </div>
        <% end %>
        <br>
      <p><%= @listing.description %></p>
        <%= link_to "Book Now!", new_listing_booking_path(@listing, @booking), class: 'btn btn-home' %>
    </div>
</div>
