<div class="banner">
    <div class="container_1">
      <h1>MusicForLife</h1>
      <p>Your one-stop platform for music services and music instruments rental.</p>
      <br>

      <%= form_tag listings_path, method: :get, class: 'search-container' do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-field",
            placeholder: "What do you want to rent today?"
          %>
          <%= submit_tag "Search", class: "btn btn-music" %>
        <% end %>

      <%= link_to "Explore Now", listings_path, class: 'btn btn-home' %>

     <div class="container_2">
      <h3>Our Best Recommendation</h3>
      <div class="cards_2">
      <% @listings.each do |listing| %>
        <% if listing.photo.attached? %>
      <div class="card_2">
        <img src="<%= cl_image_path listing.photo.key, height: 100, crop: :fill %>" />
          <div class="card-infos">
            <div>
              <h2><%= listing.title %></h2>
            </div>
            <h2 class="card-pricing">$99.99</h2>
          </div>
      </div>
            <div>
        <% end %>
        <% end %>
      </div>
    </div>
    </div>
 </div>
</div>
