<div class="banner">
  <div class="container">
    <h1>MusicForLife</h1>
    <p>Your one-stop platform for music services and music instruments rental.</p>
  <br>

    <%= form_tag listings_path, method: :get, class: 'search-container' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-field",
        placeholder: "What do you want to rent today?"
      %>
        <%= submit_tag "Search", class: "btn btn-music" %>
    <% end %>

    <%= link_to "EXPLORE NOW", listings_path, class: 'btn btn-home' %>

    <br>


  </div>
</div>

 <div class="container-home">
    <h1 class="container-header">RECOMMENDED FOR YOU</h1>
    <div class="cards">
      <% @listings.each do |listing| %>
        <% if listing.photo.attached? %>
        <%= link_to listing_path(listing), style: 'text-decoration: none; link-style: none; color: black;' do %>
      <div class="card">
        <%= cl_image_tag listing.photo.key, crop: :fill, class: 'card-img-top', style: 'object-fit: cover; height: 150px;' %>
          <div class="card-infos">
            <div>
              <h2><%= listing.title %></h2>
            </div>
            <h2 class="card-pricing">$99.99</h2>
          </div>
      </div>
        <% end %>
        <% end %>
      <% end %>
      </div>
    </div>

