<div class="banner">
    <div class="container_1">
      <h1>MusicForLife</h1>
      <p>Your one-stop platform for music services and music instruments rental.</p>
      <br>
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="What do you want to rent today?" type="text" name="search[query]" id="search_query" >
        <button name="button" type="submit" class="btn btn-music" >
          <%= link_to "", listings_path, class: 'btn-link fas fa-search' %>
        </button>
      </div>
      <% end %>
      <%= link_to "EXPLORE NOW", listings_path, class: 'btn btn-home' %>

     <div class="container_2">
      <p>YOUR SEARCH RESULTS</p>
      <div class="cards_2">
      <% @listings.each do |listing| %>
        <% if listing.photo.attached? %>
      <div class="card">
        <img src="<%= cl_image_path listing.photo.key, height: 100, crop: :fill %>" />
          <div class="card-infos">
            <div>
              <h2><%= listing.title %></h2>
            </div>
            <h2 class="card-pricing">$99.99</h2>
          </div>
      </div>
      <% else %>
      <div>
        <% end %>
        <% end %>
      </div>
      </div>
      </div>

      </div>
  </div>
